@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Create";
}

<h2>Create Movie</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @Html.Partial("../Shared/_Create-Edit-Movie")
        </form>
    </div>
</div>
