@model MvcMovie.Models.Movie
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;
@inject IViewLocalizer Localizer;
@{
    ViewData["Question"] = Localizer["DeleteQuestion"];
}
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <h1>@ViewData["Question"]</h1>
    <h3>@Html.DisplayFor(modelItem => modelItem.Title)</h3>
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
