@model MvcMovie.Models.MovieViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Movie</h4>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @Html.Partial("../Shared/Create-Edit-Movie")
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
