@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PrivacyPage"];
    ViewData["Description"] = Localizer["DescriptionPage"];
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>@ViewData["Description"]</p>
    <p>Testing Internalization</p>
</div>
